<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/add-product" method="POST">
            <h3>ADD PORDUCT</h3>
            <input type="text" name="title" placeholder="Product name">
            <input name="size" placeholder="size">
            <button type="submit">Add</button>
        </form>
    </main>

    
</body>
</html>